@model PostViewModel

@{

}

<div>
    <form asp-area="Admin" asp-controller="AdminPanel" asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <label asp-for="Title"></label>
            <input asp-for="Title" />
        </div>
        <div>
            <label asp-for="Body"></label>
            <textarea asp-for="Body"></textarea>
        </div>
        <div>
            <label asp-for="Image"></label>
            <input type="file" name="files" multiple />
        </div>
        <partial name="_CreateAndBackToList" />
    </form>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }


}