@model PostViewModel

@{

}

<div>
    <form asp-controller="AdminPanel" asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <idv>
            @{
                var base64 = Convert.ToBase64String(Model.Image);
                var imgs = string.Format("data:image/jpg;base64,{0}", base64);
            }
            <img src="@imgs" height="100%" width="100%" />
        </idv>
        <div>
            <input readonly type="text" asp-for="@Model.Created" />
        </div>
        <div>
            <label>Title</label>
            <input readonly asp-for="Title" />
        </div>
        <div>
            <label>Description</label>
            <input asp-for="Description" />
        </div>

        <div>
            <label>Category</label>
            <select asp-for="Category">
                <option value="Travel">Travel</option>
                <option value="Programing">Programing</option>
                <option value="Photography">Photography</option>
            </select>
        </div>

        <div>
            <label>Tags</label>
            <input asp-for="Tags" />
        </div>
        <div>
            <label>Body</label>
            <textarea readonly asp-for="Body"></textarea>
        </div>
        <partial name="_GoUpdateAndBackToList" model="@Model.Id" />
    </form>
</div>