<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Welcome on my page!</h1>
    <div>
        <a asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
        <a asp-area="Customer" asp-controller="Home" asp-action="Post">Posts</a>
        <a asp-area="Admin" asp-controller="Post" asp-action="Create">Create New Post</a>
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-area="Identity" asp-controller="Auth" asp-action="Logout">Sign Out</a>
        }
        else
        {
            <a asp-area="Identity" asp-controller="Auth" asp-action="Login">Sign In</a>
        }
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
