@model PostViewModel

@{ 

}

<div>
    <form asp-controller="Post" asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id"/>
        <div>
            <label>Title</label>
            <input disabled asp-for="Title" />
        </div>
        <div>
            <label>Body</label>
            <input disabled asp-for="Body" />
        </div>
        <input type="submit" value="Delete" />
    </form>
</div>