@model PostViewModel

@{ 

}

<div>
    <form asp-controller="Post" asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id"/>
        <div>
            <label>Title</label>
            <input disabled asp-for="Title" />
        </div>
        <div>
            <label>Body</label>
            <textarea disabled asp-for="Body"></textarea>
        </div>
        <partial name="_DeleteAndBackToList" model="@Model.Id" />
    </form>
</div>