@model PostViewModel

@{

}

<div>
    <form asp-controller="Post" asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <div>
            <input readonly type="text" asp-for="@Model.Created" />
        </div>
        <div>
            <label>Title</label>
            <input readonly asp-for="Title" />
        </div>
        <div>
            <label>Body</label>
            <textarea readonly asp-for="Body"></textarea>
        </div>
        <partial name="_GoUpdateAndBackToList" model="@Model.Id" />
    </form>
</div>