@model PostViewModel

@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.Keywords = $"{(Model.Tags?.Replace(",",""))} {Model.Category}";
}

<h1>@Model.Title</h1>
<p>@Model.Created</p>

<idv>
    @{
        var base64 = Convert.ToBase64String(Model.Image);
        var imgs = string.Format("data:image/jpg;base64,{0}", base64);
    }
    <img src="@imgs" height="100%" width="100%" />
</idv>

<textarea readonly>@Model.Body</textarea>