@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "that is everything coole";
    ViewBag.Keywords = "Blog programing travel photography";
}

<h2>Home Page</h2>

<h3>Welcome on my page!</h3>
